<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="beer.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Bierdatenbank</title>
    <meta charset="utf-8">
</head>

<body id="beers">
    <h1>Beer database</h1>
    <nav>
        <button @click="site_back"> < </button>
        <span>{{count}}</span>
        <button @click="site_forward"> > </button>
    </nav>
    <main lang="en-US">
        <article class="beer" @click.articel="popup" v-for="beer in beers">
            <h2>{{beer.name}}</h2>
            <section><h1>{{beer.tagline}}</h1></section>
            <br>
            <section><p>{{beer.description}}</p></section>
            <img :src="beer.image_url">
        </article>
        <popup v-for="beer in beers">
            <div id="popup" v-if="visible">
                <h1>{{beer.name}}</h1>
                <section><h2>Description</h2>{{beer.description}}</section>
                <section><h2>Food Pairings</h2>{{beer.food_pairing}}</section>
                <section><h2>Alcohol</h2>{{beer.abv}}</section>
            </div>
        </popup>
    </main>    
</body>

<script src="beer.js"></script>

</html>

